@{
    ViewData["Title"] = "SpiceShare";
}
<p>Tired of buying spice for a new recipe, and never use it again? Use this site to find people nearby that you can borrow spice from, and let other people borrow from you.</p>
<div class="bg">
    <a class="act" asp-action="NearMe" asp-controller="User">Borrow a spice</a>
    <a class="act" asp-action="Share" asp-controller="Home">Share a spice</a>
</div>
@await Component.InvokeAsync("LatestSpices")

@{
<environment names="Development">
    <script async src="~/js/pagespecific/home/index.js" asp-append-version="true"></script>
</environment>
<environment names="Staging,Production">
    <script async src="~/jsmin/home/index.min.js" asp-append-version="true"></script>
</environment>
}
@section nav {
<ul>
<li><a asp-controller="Home" asp-action="Share">Share a spice</a></li>
<li><a asp-controller="User" asp-action="NearMeZip">Search using Zip/postal code</a></li>
<li><a asp-controller="User" asp-action="NearMeGeo">Search using position</a></li>
</ul>
}
@section bottomnav {
<ul>
<li><a asp-controller="Home" asp-action="Share">Share a spice</a></li>
<li><a asp-controller="User" asp-action="NearMeZip">Search using Zip/postal code</a></li>
<li><a asp-controller="User" asp-action="NearMeGeo">Search using position</a></li>
</ul>
}