@model SpiceShare.DataAccess.User
<table>
   <tr>
        <td>Country:</td>
        <td>@Model.Location.Country</td>
    </tr>
    <tr>
        <td>Zip/postal code:</td>
        <td> @Model.Location.ZipCode</td>
    </tr>  
</table> 